*.py[cod]
build/
dist/
.env
.venv
.idea
*.so
*.sw[po]
nosetests.xml
.DS_Store
*.egg-info
*.egg
!.gitignore
*.orig
*.html~
.vagrant
dump.rdb
test_config.py

.tmp
.sass-cache
npm-debug.log
# Packages
lib
!static-src/front/scripts/lib
.coverage
test_config.py
TODO
